.resumeBlock {
    width: auto;
    height: 30%;
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    opacity: 70%;
    font-size: 16pt;
    justify-content: center;
    align-items: center;
    font-family: 'Jacquard', serif; /* Add your font-family usage here */
}
