.resumeContent {
    height: 30%;
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 70%;
    font-size: 24pt;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0, 0, 0)
}

.resumeLinks{
    align-items: center;
}

.skillsTable{
    font-size:18pt;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    margin: 5px;
}

h2{
    font-size: 20pt;
}